body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(39, 9, 121, 1) 22%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 0 5vw;
}

.App {
  text-align: center;
}

.App-logo {
  height: 7vh;
  pointer-events: none;
}

header {
  align-items: center;
  display: flex;
  flex-direction: row;
  min-height: 10vh;
  text-align: left;
}
